/* นำเข้าฟอนต์จาก Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* บังคับใช้ฟอนต์ทั้งโปรเจกต์ */
body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #1a1a1a; /* สีพื้นหลังเข้มตาม Mockup */
  color: white;
}